---
export interface Props {
  url: URL | string
}
const { url: urlProp } = Astro.props
const url = typeof urlProp === 'string' ? new URL(urlProp) : urlProp;
---

<a href={url.toString()} data-pin-do="embedPin"></a>

<script
  type="text/javascript"
  async
  defer
  src="//assets.pinterest.com/js/pinit.js"
></script>
