---
import { getPostLink } from '../lib/blog-helpers.ts'
import { Post } from '../lib/interfaces.ts'

export interface Props {
  post: Post
}

const { post } = Astro.props
---

<div class="read-more-link">
  <a href={getPostLink(post.Slug)}>→Read more</a>
</div>

<style>
  .read-more-link {
    color: var(--accents-1);
    text-align: right;
  }
  .read-more-link a {
    color: inherit;
    font-size: 1rem;
    font-weight: 500;
    line-height: 2rem;
    border-bottom: dotted 2px var(--accents-1);
   
  }
  @media (max-width: 640px) {
    .read-more-link a {
      width: 50%;
    }
  }
</style>
