---
import { Icon } from 'astro-icon/components'
---

<button class="search-button open-search-modal" type="button"><Icon name="octicon:search-24" /><span></span></button>

<style>
  .search-button {
    display: flex;
    justify-self: end;
    flex: 0 0 auto;
    margin-left: auto;
    background-color: transparent;
    margin-bottom: 0.5rem;
    border: none;
    padding: 0.4rem 0.4rem;
    color: var(--accents-1);
    font-size: 0.95rem;
    font-weight: bold;
    border-bottom: dotted 2px var(--accents-1);
  }
  .search-button:hover {
    cursor: pointer;
    opacity: 0.5;
  }
  .search-button svg {
    width: 20px;
    height: 20px;
    margin-right: 0.2rem;
  }
  [astro-icon="octicon:search-24"] {
    color: var(--accents-1);
  }
</style>

<script>
  if (typeof document !== 'undefined') {
    document.addEventListener('DOMContentLoaded', () => {
      function handleKeydown(event) {
        if (event.keyCode === 75 && event.metaKey) {
          // Ctrl+K or Cmd+K
          document.querySelector('.open-search-modal').click()
        }
      }

        document.addEventListener('keydown', handleKeydown)
      })
  }
</script>
